* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: white; */
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.header {
  text-align: center;
}
.first {
  background-color: gray;
  padding: 15px;
  position: relative;
  border: 4px solid black;
}
.first-header {
  margin-top: 30px;
}
.chicken {
  background: lightpink;
  /* display: inline-block; */
  position: absolute;
  padding: 4px 32px;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 1.5rem;
  /* width: 66px; */
  margin-bottom: 24px;
  /* padding-bottom: 20px; */
}
.second {
  background-color: gray;
  padding: 15px;
  position: relative;
  border: 4px solid black;
}
.second-header {
  margin-top: 30px;
}
.beef {
  background: red;
  /* display: inline-block; */
  position: absolute;
  padding: 4px 32px;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 1.5rem;
  /* width: 66px; */
  margin-bottom: 24px;
  /* padding-bottom: 20px; */
}
.third {
  background-color: gray;
  padding: 15px;
  position: relative;
  border: 4px solid black;
}
.third-header {
  margin-top: 30px;
}
.sushi {
  background: lightyellow;
  /* display: inline-block; */
  position: absolute;
  padding: 4px 32px;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 1.5rem;
  /* width: 66px; */
  margin-bottom: 24px;
  /* padding-bottom: 20px; */
}

@media only screen and (max-width: 767px) {
  .container {
    /* background-color: white; */
    display: grid;

    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .first,
  .second,
  .third {
    width: 500px;
    margin: 10px auto;
  }
}
@media only screen and (max-width: 968px) and (min-width: 768px) {
  .container {
    /* background-color: white; */
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-are
    gap: 2px;
  }

  .first,
  .second,
   {
    width: 300px;
    margin: 10px auto;
  }
  .third-special{
    grid-column:span 2;
    
  }
  .first-header, .second-header ,.third-header{
    font-size:23px;
  }
}
